.navbar{
    background-color:#D8B799;
    height: 60px;
}

.title{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    color: #854D1B;
    margin-bottom: 0;
}

.nav-link{
    color:#854D1B;
    font-size: 20px;
}

.rounded-circle{
    margin-top: 2px;
}
