.BookPage__gridContainer {
    display: grid;
    margin-bottom: 4rem;
}
.text{
    color: #854D1B;
}
.title{
    font-family: "Temeraire", Sans-sarif;
    font-size: 55px;
    color: #854D1B;
}
.details{ 
    font-family: "Temeraire", Sans-sarif;
    font-size: 28px;
    color: #854D1B;
}
