.list-group-item.active{
    background-color: #D8B799;
    border-color: #D8B799;
}

.list-group-item{
    color: #854D1B;
}

.text{
    color: #AF9277  ;
}

.form-select{
    color: #854D1B;
}

.form-control{
    color: #854D1B;
}

.control-bar{
    color: #854D1B;
}

.btn{
    color: #854D1B;
    border-color: #854D18;
}

.my-pagination ::ng-deep .page-item.active .page-link{
    color: #854D1B;
    background-color: #D8B799;
    border-color: #D8B799;
}

.my-pagination ::ng-deep .page-link{
    color: #854D1B;
}